.container {
   background-color: var(--background-main-gray);
   display: flex;
   flex-direction: column;
   padding: 25px;
}

.overview-box-container {
   display: flex;
   width: 100%;
   margin: 30px 0 40px 0;
   column-gap: 18px;
}

.vehicle-table-container {
   padding: 30px;
   border-radius: 12px;
   box-shadow: 6px 4px 54px 0 #0000000D;
   background-color: var(--white);
}

.table-header {
   color: var(--table-header-black);
   background-color: var(--table-header-back);
   border-radius: 120px;
   font-family: "Poppins";
   font-size: 30px;
}

.table-body {
   color: var(--sidebar-text-gray);
}