.container {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   background-color: var(--background-main-gray);
}

.wrapper {
   width: 100%;
   display: flex;
}

.routes-wrapper {
   flex: 8;
   height: 100%;
}